@{
    ViewBag.Title = "沈阳航空航天大学体育馆";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<h2>我的个人信息：</h2>
<div style="padding-left:15px;padding-right:15px">
    <p>姓名：@ViewBag.name</p>
    <p>账号：@ViewBag.number</p>
    <p>卡号：</p>
    <p>类型：@ViewBag.type</p>
    <p>密码：@ViewBag.password</p>
    <p>余额：@ViewBag.money</p>
</div>