@{
    ViewBag.Title = "Person_Three_Manage";
    Layout = "~/Views/Shared/_Layout_Person_Manage.cshtml";
}

<h2>@Html.ActionLink("确定删除人员", "Person_Three_Manage")</h2><br />
<h2>@Html.ActionLink("取消", "Person_First_Manage")</h2>