@{
    ViewBag.Title = "Venue_Fout_Manage";
    Layout = "~/Views/Shared/_Layout_Venue_Manage.cshtml";
}

<h2>@Html.ActionLink("确定删除场地","Venue_Four_Manage")</h2><br />
<h2>@Html.ActionLink("取消", "Venue_First_Manage")</h2>
